<h1>RENAME YOUR COLLECTION</h1>
<br>
<div class='offset-by-three'>
  <%= render 'form' %>
  <form action="/curators/<%= @curator.id %>/collections/<%= @collection.id %>" method='post'>
    <%= token_tag %>
    <input type="hidden" name='_method' value='delete'>
    <button type='submit'>Delete Collection</button>
  </form>
  <br>
  <%= link_to "Add To Collection", search_path %>
</div>
