<h2><% @collection.name %></h2>

<%= link_to "Start Another Collection", new_collection_path %>
<br>

<form action="/collections/<%= @collection.id %>/edit" method='put'>
  <%= token_tag %>
  <button type='submit'>Rename Collection</button>
</form>
<br>

<form action="/collections/<%= @collection.id %>" method='post'>
  <%= token_tag %>
  <input type="hidden" name='_method' value='delete'>
  <button type='submit'>Delete Collection</button>
</form>
