<h1><% @collection.name %></h1>

<%= link_to "START ANOTHER COLLECTION", new_curator_collection_path(current_curator) %>
<br>

<% @collection.artworks.each do |artwork| %>
  <ul>
    <li>
     <img src="<%= artwork.image_url %>">
     <p><%= artwork.caption %></p>
    </li>
  </ul>
<% end %>


<form action="/collections/<%= @collection.id %>/edit" method='put'>
  <%= token_tag %>
  <button type='submit'>RENAME YOUR COLLECTION</button>
</form>
<br>

<form action="/collections/<%= @collection.id %>" method='post'>
  <%= token_tag %>
  <input type="hidden" name='_method' value='delete'>
  <button type='submit'>DELETE COLLECTION</button>
</form>
