<h2><% @collection.name %></h2>

<%= link_to "START ANOTHER COLLECTION", new_collection_path %>
<br>

<form action="/collections/<%= @collection.id %>/edit" method='put'>
  <%= token_tag %>
  <button type='submit'>RENAME YOUR COLLECTION</button>
</form>
<br>

<form action="/collections/<%= @collection.id %>" method='post'>
  <%= token_tag %>
  <input type="hidden" name='_method' value='delete'>
  <button type='submit'>DELETE COLLECTION</button>
</form>
