<h1>SEARCH RESULTS</h1>
<h2>You have <%= @artworks.count %> results.</h2>
<ul>
  <% @artworks.each do |art| %>
    <li>
      <div class='eight columns'>
        <img src="<%= art.image_uri %>">
        <p><%= art.title %></p>
        <p><%= art.object_date %></p>
        <p><%= art.medium %></p>
        <p><%= raw art.label %></p>
        <p><%= raw art.description %></p>
        <p><%= art.bk_uri %></p>
      </div>
      <%= form_for @artwork do |f| %>
      <%= f.hidden_field :caption, value: art.title %>
      <%= f.hidden_field :image_url, value: art.image_uri %>
      <%= f.submit "ADD TO YOUR COLLECTION" %>
      <% end %>
    </li>
  <% end %>
</ul>
