<h3>Search Results</h3>

<ul>
  <% @artwork.each do |art| %>
    <li>
      <div class='frame'>
        <img src="<%= @image_uri %>" alt="<%= @title %>">
        <%= @total %>
        <%= @title %>
        <%= @object_date %>
        <%= @medium %>
        <%= @label %>
        <%= @collection %>
        <%= @description %>
        <%= @bk_uri %>
        <%= @artist_name %>
        <%= @artist_dates %>
      </div>
      <button type='submit'>ADD TO YOUR COLLECTION</button>
        <% @collection << art %>
    </li>
  <% end %>
</ul>
