<h1>SEARCH RESULTS</h1>
<div class='offset-by-two'>
  <h2>You have <%= @artworks.count %> results.</h2>
</div>
  <br><br>
  <ul>
    <% @artworks.each do |art| %>
    <li>
        <img class='res-img' src="<%= art.image_uri %>">
        <br>
        <div class='ten columns'>
        <h4>TITLE</h4>
          <p><%= art.title %></p>
        <h4>DATE</h4>
          <p><%= art.object_date %></p>
        <h4>MEDIUM</h4>
          <p><%= art.medium %></p>
        <h4>LABEL</h4>
          <p><%= raw art.label %></p>
        <h4>DESCRIPTION</h4>
          <p><%= raw art.description %></p>
        <p><a href="<%= art.bk_uri %>">Link To Artwork</a></p>
      </div>
      <% if current_curator %>
        <%= form_for @artwork do |f| %>
          <%= f.hidden_field :caption, value: art.title %>
          <%= f.hidden_field :image_url, value: art.image_uri %>
          <%= f.submit "ADD TO YOUR COLLECTION" %>
        <% end %>
      <% end %>
      <hr><br>
    </li>
    <% end %>
  </ul>
