<h1>ART ADDED TO YOUR COLLECTION</h1>

<div>
  <img src="<%= @image_uri %>" alt="<%= @title %>">
  <p><%= @artwork.title %></p>
  <p><%= @artwork.image_url %></p>
</div>
<%= link_to "BACK TO SEARCH RESULTS", artworks_path %>
