<h3>Art Added to Your Collection</h3>

<div class='frame'>
  <img src="<%= @image_uri %>" alt="<%= @title %>">
  <p><%= @artwork.caption %></p>
  <p><%= @artwork.image_url %></p>
</div>
<%= link_to "BACK TO SEARCH RESULTS", artworks_path %>
