<h2>Curators</h2>

<% if current_curator %>
  <p>
    Welcome, <%= current_curator.username %>
  </p>
  <%= link_to "LOG-OUT", log_out_path, method: :delete %>
<% else%>
  <%= link_to "LOG-IN", log_in_path %>
  <%= link_to "SIGN-UP", new_curator_path %>
<% end %>

<ul>
  <% @curators.each do |curator| %>
    <li>
      <%= curator.username %>
    </li>
  <% end %>
</ul>
