<h2>CURATORS</h2>

<% if current_curator %>
  <p>
    Welcome, <%= current_curator.username %>
  </p>
  <%= link_to "START A NEW COLLECTION", new_artwork_path %>
  <%= link_to "VIEW COLLECTIONS", curator_collections_path(current_curator) %>
  <%= link_to "LOG-OUT", log_out_path, method: :delete %>
<% else%>
  <%= link_to "LOG-IN", log_in_path %>
  <%= link_to "SIGN-UP", new_curator_path %>
<% end %>

<ul>
  <% @curators.each do |curator| %>
    <li>
      <a href='/curators/<%= curator.id %>'><%= curator.username %></a>
      <br>
      <form action="/curators/<%= @curators.each %>" method='post'>
        <%= token_tag %>
        <input type="hidden" name='_method' value='delete'>
        <button type='submit'>DELETE CURATOR</button>
      </form>
    </li>
  <% end %>
</ul>
