<h1>Welcome, <% @curator.username %></h1>

<% if @collections.to_i > 0 %>
  <h3>YOUR COLLECTIONS</h3>
  <ul>
    <% @collections.each do %>
      <li>
        <a href="curator_collections_path">
         <%= @collection.name %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "START A COLLECTION", new_curator_collection_path(curator) %>

<form action="/curators/<%= @curator.id %>/edit" method='put'>
  <%= token_tag %>
  <button type='submit'>RENAME CURATOR</button>
</form>
<br>

<form action="/curators/<%= @curator.id %>" method='post'>
  <%= token_tag %>
  <input type="hidden" name='_method' value='delete'>
  <button type='submit'>DELETE CURATOR</button>
</form>
