<h2>Welcome, <% @curator.username %></h2>

<% if @collections.length > 0 %>
  <h3>Your Collections</h3>
  <ul>
    <% @collections.each do %>
      <li>
        <a href="curator_collections_path">
         <%= @collection.name %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<h3><a href="new_collection_path">Start Your Collection</a></h3>
<br>

<%= link_to "Start a Collection", new_collection_path %>

<form action="/curators/<%= @curator.id %>/edit" method='put'>
  <%= token_tag %>
  <button type='submit'>Rename Curator</button>
</form>
<br>

<form action="/curators/<%= @curator.id %>" method='post'>
  <%= token_tag %>
  <input type="hidden" name='_method' value='delete'>
  <button type='submit'>Delete Curator</button>
</form>
