<div class='lineup'>
  <% if current_curator %>
    <h3>Hi, <%= current_curator.username %></h3><br>
  <% end %>
  <h4>Welcome To</h4>
  <h1>CURATOR</h1>
  <div  class='greeting'>
    <h5>To use Curator, first login and create a collection. <br> Then, search for artwork and add your favorites.</h5><br>
    <h5>Curator was created by <a href="http://chrisheuberger.com">Chris Heuberger</a>.</h5><br>
    <h5>Special thanks to <a href="http://www.brooklynmuseum.com">The Brooklyn Museum</a>.</h5>
  </div>
  <br><br>
  <% if current_curator %>
    <%= link_to "Start A New Collection", new_curator_collection_path(current_curator) %>
    <div class='space'></div>
    <%= link_to "View Your Collections", curator_collections_path(current_curator) %>
  <% else%>
    <div class='greeting-login'>
      <%= link_to "AUTO-LOGIN FOR DEMO PURPOSES", session_demo_url %>
    </div>
    <br>
    <%= link_to "Become A Curator", new_curator_path %>
    <div class='space'>or</div>
    <%= link_to "Log-In", log_in_path %>
  <% end %>
</div>
