<!DOCTYPE html>
<html>
<head>
  <title> C U R A T O R </title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/nav' %>
  </header>
  <div>
  <h1>
    <%= flash.now[:alert] %>
  </h1>
  <h1>
    <%= flash.now[:notice] %>
  </h1>
  </div>
  <div class='container'>
    <div class="row"></div>
    <div class="ten columns offset-by-three">
      <%= yield %>
    </div>
  </div>
</body>
</html>
